* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inconsolata', monospace;
}

header {
    background-image: url(https://wallpaperaccess.com/full/724261.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 100%;
    padding:10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    font-weight:lighter;
    font-size: 40px;
    color: rgb(150, 89, 180);
    margin: 0px;
    padding: 0px;
}

header h1:hover {
    border-bottom: 2px solid rgb(150, 89, 180);
}

header a {
    text-decoration: none;
    color:rgb(150, 89, 180);
    border: 2px solid rgb(150, 89, 180);
}
header a:hover {
    background: url(https://w0.peakpx.com/wallpaper/185/403/HD-wallpaper-abstract-neon-abstract-blue-light-neon-pink-purple.jpg);
    border: 2px double rgb(255, 51, 238);
    color: rgb(255, 51, 238);
}

header nav {
    float: right;
    margin: 15px 0;
}

header nav ul {
    display:inline;
    list-style: none;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 15px;
}

.hero {
    background-image: url(https://wallpaperaccess.com/full/724261.jpg);
    background-size: cover;
    background-attachment: inherit;
    background-position: 50%;
    height: 410px;
}

.main-body {
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(#0c081d, #fa049e, #11183d);
    padding: 20px;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-me h2 {
    text-align: center;
    font-size: 50px;
    border-bottom: 3px solid #fa049e;
    margin-bottom: 20px;
}

.about-me p {
    margin: 50px;
    font-size: 25px;

}

.about-me img {
    width: 30%;
    border-radius: 50%;
    border: 3px solid #11183d;
}

.about-me-info {
    display: flex;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 60px;
}

.primary-project {
    width: 630px;
    height: 400px;
    border: 3px solid #11183d;
    border-radius: 50px;
    margin: 10px;
}

.secondary-projects {
    display: flex;
}

.secondary-img {
    border: 3px solid #11183d;
    margin: 5px;
    border-radius: 50px;
    width: 200px;
    height: 200px;
}

.projects h2 {
    text-align: center;
    font-size: 50px;
    border-bottom: 3px solid #11183d;
    margin-bottom: 20px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #11183d;
    border: 3px solid #0c081d;
    font-size: 25px;
}